/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: black;
}


body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.img-container {
    padding: 30px 50px 30px 0px;
    gap: 10px;
}

nav {
    display: block;
    justify-content: space-between;
    gap: 68px;
    margin: 0;
    padding: 8px 0;
}

nav .list {
    display: flex;
    gap: 68px;
    list-style-type: none;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid;
}

.pub {
    line-height: 1px;
}

.search {
    padding: 0px;
    margin: 0px;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin: 35px 0px;
    border: 2px;
    border-radius: 15px;
}

.icone {
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(242, 242, 242, 1);
    color: black;
    border: none;
    padding: 15px;
}

#search-input {
    width: 150px;
    font-size: 18px;
    color: black;
    border: none;
    font-weight: bold;
}

#search-input:value {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.button-recherche {
    background-color: #0065FC;
    color: #FFF;
    padding: 15px 1rem;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    border: none;
}

.filterbar {
    display: flex;
    justify-content: flex-start;
    font-weight: 758;
}

.filtre {
    margin: 0px 15px 0px 0px;
}
.fa-info {
    color: #0065FC;
}

.cardsbar {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0px 5px;
    padding: 4px 19px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    gap: 10px;
}

.cardsbar:hover {
    background-color: #DEEBFF;
}

.fa-solide-blue {
    color: #0065FC;
}
.false{
    color: #D9D9D9;
}
.true {
    color: #0065FC;
}

.information_1 {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 35px;
}

.information {
    border: solid 2px #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 10px;
}

.infobar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.offers {
    margin-bottom: 40px;
}
.conteneur {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 30px
}
.afficher_plus {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
.bloc_1 {
    background-color: #FFF;
    border-radius: 20px;
    padding: 4px;
}
/* détails ofres hébergements */
.bloc_1 h3 {
    margin-left: 8px;
    line-height: 0px;
}
.bloc_1 p {
    margin-left: 8px;
}
.bloc_1 div {
    margin-left: 8px;
    margin-top: -8px;
    margin-bottom: 15px;
}
.bloc_1 img {
    width: 100%;
    height: 126px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites_à_marseille {

}
.activites_title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 25px;
}
.activites_img {
    display: flex;
    justify-content: space-around;
}
.activites_bloc img {
    width: 297px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites_bloc {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.activites_bloc:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.activites_bloc p {
    margin: 19px;
    font-size: 16px;
    font-weight: bold;

}
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 45px;
}
.liens-footer{
 width: 30%;
}
.liens-footer li {
    list-style: none;
    margin: 20px 0px;
}
.liens-footer ul {
    padding-left: 0px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card-rating i {
    color: var(--main-color);
}
.fa-magnifying-glass {
    display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites_bloc {   
        width: 22%;
        height: 270px;
        padding-bottom: 70px;
    
    }
    .activites_bloc p {
        margin: 3px 20px;
        font-size: 16px;
        font-weight: bold;
        height: 60px;
        display: flex;
        align-items: center;

    }    
    .activites_bloc img {
        width: 100%;
        height: 100%;

    }
    .fa-magnifying-glass {
        display: none;
    }
    .conteneur {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 0;
    }
    .bloc_1 {
        width: 32%;
        margin: 15px 4px;
    }
    .bloc_1 h3 {
        font-size: 19px;
    }
    .main-container {
        padding: 0 15px;;
    }
    
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
    /* ... */
    header {
        flex-direction: column;
    }
    .img-container {
        text-align: center;
        padding: 20px 0px;
    }
    nav .list {
        justify-content: space-around;
        padding: 0px;
        gap: 0px;
   }

    nav a:hover {
        color: #0065FC;
        border-top: none;
    }
    .list li {
        width: 50%;
        text-align: center;
        padding-bottom: 19px;
        border-bottom: 2px solid #F2F2F2;
    }
    .list li:hover {
        border-bottom: 2px solid #0065FC;
    }
    .main-container {
        padding: 0px;
    }
    .search {
        width: 90%;
        margin:auto;
    }
    .search-container {
        width: 90%;
        margin: 50px auto;
    }
    h1 {
        font-size: 22px;
    }
    .mobile-rechercher {
        display: none;
    }
    .fa-magnifying-glass {
        display: block;
        color: #FFF;
    }
    form {
        width: 100%;
    }
    .icone {
        width: 15%;
    }
    .button-recherche {
        width: 15%;
        border-radius: 15px;
    }
    #search-input {
        width: 67%;
        padding-left: 20px;
    }

    .filterbar{
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .filtre{
      width: 100%;
      font-size: 18px;
    }

    .cardsbar{
      width: 45%;
      margin: 10px 0px;
      padding: 15px 10px;
      font-size: 14px;
    }

    .information_1{
      width: 90%;
      margin: 30px auto 0px auto;
    }

    .hebergements-and-populaires{
      flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
      border-radius: unset;
    }

    .fa-chart-line{
      color: #0065FC;
    }
    
    .populaires-cards{
      flex-direction: column;
    }

    .populaires-cards a{
      width: 100%;
    }

    .hebergements{
      background-color: var(--white-bg-color)!important;
    }

    .conteneur{
      display: flex;
      flex-direction: column;
    }

    .bloc_1{
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      width: 100%;
    }

    .activites_img{
      width: 90%;
      margin: auto;
      flex-direction: column;
    }

    .activites_bloc{
      width: 100%;
      height: 200px;
      margin: 10px 0px;
    }

    .activites_bloc img{
      height: 141px;
    }

    footer{
      flex-direction: column;
      padding: 0px 30px;
      gap: 15px;
    }

    .liens-footer{
      width: 100%;
    }
}